.idea
.DS_Store
node_modules
pfa-client/dist
.env.dev
.env.prod
/.env
/src/invoicesUpload/*
/zeroSSL-certificate-1991computer.com
/zeroSSL-certificate-1991computer.com.zip
/zeroSSL-certificate-pfa.1991computer.com
/zeroSSL-certificate-pfa.1991computer.com.zip
